{include file="common/header"}
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form class="layui-form" action="">
                            {:token()}
                            <div class="layui-form-item">
                                <label for="validate" class="layui-form-label">验证码</label>
                                <div class="layui-input-inline" style="width: 300px">
                                    <input type="text" id="validate" name="validate" required lay-verify="required"
                                           autocomplete="off" class="layui-input" placeholder="请使用注册的手机号接收验证码">
                                </div>
                                <div class="layui-form-mid layui-word-aux">
                                    <button class="layui-btn-primary layui-btn-sm">获取验证码</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="Lr_pass" class="layui-form-label">原始密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="Lr_pass" name="rpass" required lay-verify="required"
                                           autocomplete="off" class="layui-input" placeholder="请输入旧密码">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="pass" required lay-verify="required"
                                           autocomplete="off" class="layui-input" placeholder="请输入新密码">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_repass" class="layui-form-label">确认密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_repass" name="repass" required lay-verify="required"
                                           autocomplete="off" class="layui-input" placeholder="请二次确认新密码">
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="RegBtnFilter" lay-submit="">立即修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery;
        form.on("submit(RegBtnFilter)", function (data) {
            layer.load(1);
            $.post("/index/user/edit_pwd_action", data.field, function (d) {
                var d = eval('(' + d + ')');
                layer.closeAll('loading');
                if (d.code == 0) {
                    window.location.href = "/index/login/";
                } else {
                    layer.msg(d.error_msg, {icon: 2});
                }
            });
            return false;
        });

    });
</script>

{include file="common/footer"}